
<body style="font-family: Arial, Helvetica, sans-serif;">
        <div class="label">
                <h1> ToDo</h1>

                
                
                <form action="/task" method="post">
                    <p><input type="text" name="content"></p>
                    <input type="submit" value="Add task">
                </form>
                
                
                
                
                <ol>
                    {% for task in tasks %}
                        <li>
                            {% if task.done %} <strike> {% endif %}{{ task.content }} {% if task.done %} </strike>{% endif %}
                            <a href="/delete/{{ task.id }}">Delete</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
    </body>

